@import url(_variaveis.css);
@import url(_reset.css);

body{
    font-family: var(--familia-corpo);
    font-size: var(--familia-corpo);

    background: url(../../img/fundo-textura.png), url(../../img/fundo-linhas.svg);
    background-position: center;
}

.container{
    padding-right: 1rem;
    padding-left: 1rem;
}